/* Page : Index html */
/* Header */

.logo {
    background-color: $couleur-background-alt;
    img {
        width: 50%;
        max-height: 80px;
        max-width: 212px;
    }
    align-items: center;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}
.en-tete {
    background-color: $couleur-background;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .en-tete-wrap {
        br {
            display: none;
        }
        justify-content: center;
        align-items: center;
        width: 100%;
        h1 {
            font-size: 1.3em;
            text-align: center;
            margin-top: 1.5em;
        }
        p {
            color: $couleur-font + 40;
            font-size: 0.9em;
            text-align: center;
        }
        .bouton {
            justify-content: center;
        }
    }
}
.recherche {
    width: 100%;
    padding: 8px 0px 8px 0px;
    background-color: $couleur-background - 25;
    border-top: solid 2px $couleur-background - 50;
    align-items: center;
    justify-content: center;
    i {
        font-size: 15px;
        color: $couleur-font;
        margin-right: 8px;
    }
    input {
        color: $couleur-font;
        background-color: $couleur-background - 25;
        border: none;
        width: 30%;
    }
}

/* Section fonctionnement */
.fonctionnement {
    padding: 30px 15px 50px 15px;
    background-color: $couleur-background-alt;
    .fonctionnement-wrap {
        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 15px 0px 15px 0px;
        }
    }
}
.bloc-fonctionnement {
    display: flex;
    width: 100%;
    height: 4em;
    margin: 10px 0px 10px 0px;
    align-items: center;
    @media screen and (min-width: 768px) {
        margin: 8px;
        width: 300px;
    }

    &__num {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $couleur-primaire;
        align-items: center;
        justify-content: center;
        margin-right: -10px;
        z-index: 1;
        color: $couleur-font-alt;
    }
    &__list {
        align-items: center;
        justify-content: space-evenly;
        font-size: 20px;
        background: $couleur-background;
        width: 100%;
        height: 100%;
        @include shadow;
        @include border-radius;
        &:hover {
            i {
                color: $couleur-primaire;
            }
            background-color: $couleur-primaire-alt;
        }
    }
}
.restaurant {
    background-color: $couleur-background;
    max-width: 100%;
    flex-direction: column;
    padding: 30px 15px 30px 15px;
}
/* section restaurant */

.nouveau {
    @include shadow;
    border-radius: 3px;
    font-size: 15px;
    position: relative;
    top: -95%;
    left: 68%;
    width: 70px;
    background-color: $couleur-tertiaire;
    color: $couleur-tertiaire - 120;
    padding: 5px 5px 5px 10px;
}
.bloc_restaurant {
    @include shadow;
    @include border-radius;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        width: 345px;
        height: 230px;
        margin: 15px;
    }
    figure {
        height: 100%;
        width: 100%;
    }
    overflow: hidden;
    margin: 15px 0px 15px 0px;
    height: 230px;
    &__menu {
        justify-content: space-between;
        padding: 5px 10px 5px 10px;
        align-items: center;
        i {
            font-size: 20px;
        }
    }
    &__menu__text {
        flex-direction: column;
    }
}
.restaurant-wrap {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
/* Fin de page Index Html */
/* Page Restaurant */
/* Header */

nav {
    align-items: center;
    background-color: $couleur-background-alt;
    justify-content: space-around;
    padding: $padding;
    a {
        font-size: 20px;
    }
    figure {
        img {
            width: 50%;
        }
    }
}
.entete_restaurant {
    height: 270px;
    figcaption {
        margin-top: -3em;
        padding: 1em 0em 1em 0em;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        background-color: $couleur-background;
        display: inline-block;
        width: 100%;
        .titre_menu {
            padding: $padding;
            align-items: center;
            justify-content: space-between;
            i {
                font-size: 20px;
                margin-right: 20px;
            }
            h1 {
                margin-right: 40px;
                font-size: 1.3em;
                font-family: "Shrikhand";
            }
        }
    }
}
/* Les menus */

.entree,
.plat,
.dessert {
    padding: $padding;
}
.bloc_menu {
    @include shadow;
    @include border-radius;
    @media screen and (min-width: 768px) {
        min-width : 315px;
    }
    background-color: $couleur-background-alt;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    &__legende {
        justify-content: space-between;
    }
}
.menu-wrap {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}
.menu {
    margin: 20px 0px 50px 0px;
    h2 {
        border-bottom: 3px $couleur-tertiaire solid;
        padding-bottom: 5px;
        width: 40px;
        font-weight: 400;
        text-transform: uppercase;
        color: $couleur-font;
        font-size: 1em;
    }
}
@keyframes menu-deroulant {
}
