/* Header Index.html */

.logo {
    width: 50%;
    align-items: center;
    justify-content: center;
}
.header {
    background-color: $couleur-background;
}
.recherche {
    padding : 8px;
    background-color: $couleur-background - 25;
    border-top: solid 2px $couleur-background - 50;
    align-items: center;
    justify-content: center;
    i {
        font-size :15px;
        color : $couleur-font;
        margin-right: 8px;
    }
    input {
        color: $couleur-font;
        background-color: $couleur-background - 25;
        border : none;
        width:30%;
    }
}

/* Section fonctionnement */
.fonctionnement {
    margin: 8px 8px 30px 8px;
}
.bloc-fonctionnement {
    display: flex;
    width: 100%;
    height: 4em;
    margin: 10px 0px 10px 0px;
    align-items: center;

    &__num {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $couleur-primaire;
        align-items: center;
        justify-content: center;
        margin-right: -10px;
        z-index: 1;
        color: $couleur-font-alt;
    }
    &__list {
        align-items: center;
        justify-content: space-evenly;
        font-size: 20px;
        background: $couleur-background;
        width: 100%;
        height: 100%;
        @include shadow;
        @include border-radius;
        &:hover {
            i {
                color: $couleur-primaire;
            }
            background-color: $couleur-primaire-alt;
        }
    }
}
.restaurant {
    background-color: $couleur-background;
    max-width: 100%;
    flex-direction: column;
    padding: 30px 10px 30px 10px;
}
/* section restaurant */

.nouveau {
    @include shadow;
    border-radius: 3px;
    font-size: 15px;
    position: relative;
    top: -95%;
    left: 68%;
    width: 70px;
    background-color: $couleur-tertiaire;
    color: $couleur-tertiaire - 120;
    padding: 5px 5px 5px 10px;
}

.bloc_restaurant {
    @include shadow;
    @include border-radius;
    flex-direction: column;
    figure {
        height: 100%;
        width: 100%;
    }
    figure > img {
        max-height: 70%;
        min-width: 100%;
    }
    overflow: hidden;
    margin: 10px 0px 10px 0px;
    height: 230px;
    &__menu {
        justify-content: space-between;
        padding: 5px 10px 5px 10px;
        align-items: center;
        i {
            font-size: 20px;
        }
    }
    &__menu__text {
        flex-direction: column;
    }
}
