/* Section fonctionnement */
.fonctionnement {
    margin: 8px;
}
.bloc-fonctionnement {
    display: flex;
    width: 100%;
    max-width: 320px;
    height: 4em;
    margin: 10px 0px 10px 0px;
    align-items: center;

    &__num {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $couleur-primaire;
        align-items: center;
        justify-content: center;
        margin-right: -10px;
        z-index: 1;
        color: $couleur-font-alt;
    }
    &__list {
        align-items: center;
        justify-content: space-evenly;
        font-size: 20px;
        background: $couleur-background;
        width: 100%;
        height: 100%;
        @include shadow;
        &:hover {
            i {
                color: $couleur-primaire;
            }
            background-color: $couleur-primaire-alt;
        }
    }
}
.restaurant {
    background-color: $couleur-background;
    max-width: 100%;
    flex-direction: column;
    padding: 30px 10px 30px 10px;
}
.bloc_restaurant {
    max-width: fill;
    max-height: 280px;
}
/* section restaurant */

.nouveau {
    display: none;
}

.bloc_restaurant {
    @include shadow;
    flex-direction: column;
    figure {
        height: 100%;
        width : 100%;
    }
    figure > img {
        max-height: 70%;
        min-width: 100%;
    }
    overflow: hidden;
    margin: 10px 0px 10px 0px;
    height: 230px;
    &__menu {
        justify-content: space-between;
        padding: 5px 10px 5px 10px;
        align-items: center;
        i {
            font-size: 20px;
        }
    }
    &__menu__text {
        flex-direction: column;
    }
}
